.icon-circled-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #269a8c;
  color: #ffffff;
  background: #269a8c;
  display: inline-table;
  text-align: center;
}

.icon-circled {
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
}
