@charset "utf-8";
@import "normalize";
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: #ffffff;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #669933;
}

h1 {
  color: #669933;
}
