---
title: Autonomous Foundry LLC
---

%header.header
  .container
    .row
      .col-md-4
      .col-md-3
        = image_tag "logo.png", width: "100%", alt: "Autonomous Foundry LLC"

.subheader
  .container
    .row
      .col-md-2
      .col-md-2
        %h3
        %p= image_tag "brian.jpg", width: "100%", alt: "Brian Auton"
      .col-md-4
        %h3 Brian Auton
        %h4 Founder and Consultant
        %p
          I've always loved breaking down complex problems and solving
          them with software. Nearly 20 years as a professional
          developer have given me a lot of insight into what makes
          software projects successful. At Autonomous Foundry, I work
          with companies that make software, and I help them apply the
          best possible techniques to get the most out of their
          development process.

.other
  .container
    .row
      .col-md-4
      .col-md-8
        %br
        %h4
          Contact:
          %a{href: "mailto:brian@autonomousfoundry.com"} brian@autonomousfoundry.com
        %br
        %br
