---
title: Autonomous Foundry LLC
---

%header.header
  .container
    .row
      .col-md-4
        = image_tag "logo.png", width: "100%", alt: "Autonomous Foundry LLC"
      .col-md-8

.subheader
  .container
    .row
      .col-md-12
        %h2 Results-based consulting to improve your software quality.

    .row.gallery
      .col-md-4
        %h3
          .icon-circled-container
            %span.icon-circled.glyphicon.glyphicon-book.icon-circled
          Defined
        %p
          We learn about your software process and help find the places
          where quality improvements will create the most value for your
          business.

      .col-md-4
        %h3
          .icon-circled-container
            %span.icon-circled.glyphicon.glyphicon-pencil
          Measured
        %p
          We find ways to monitor the most important parts of your
          process and help you see the effects of changes quickly.

      .col-md-4
        %h3
          .icon-circled-container
            %span.icon-circled.glyphicon.glyphicon-ok
          Improved
        %p
          We help you apply changes to your process, monitor the
          results, and increase the value your software process
          delivers.

.container
  .row
    .col-md-12
      %br
      %h4
        Contact us:
        %a{href: "mailto:info@autonomousfoundry.com"} info@autonomousfoundry.com
      %br
      %br
